@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: rgb(59, 59, 59);
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(images/torre.jpg) no-repeat;
	background-size: cover; 
}

.logos{
    width: 100%;
}

.api{
    width: 250px;
    position: relative;
    right: 33%;
}

.fatec{
    height: 120px;
    position: relative;
    left: 30%;
}

div.titulo{
    font-family: Alata;
    font-weight: bold;
    position: relative;
    bottom: 30%;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 70px;
}

.link{
    font-family: "Advent Pro";
    font-size: 180%;
    color: white;
    padding: 5px;
    text-align: center;
}

.pasta{
    position:relative;
    width: 200px;
    margin: 50px;
    opacity: 1;
}

.flex-container{
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5)
}



